body{
			font-family: Arial;
		}

.container{
	/*width: 100%;*/
}

.logo{
	float: right;
}

.jumbotron{
	background: linear-gradient(to bottom,#00ffdd,cornflowerblue);
	font-weight: bold;
	color: white;
	text-align: center;
}

footer{
	bottom: 0px;
	background-color: #000123;
	color: white;
	width: 100%;
	text-align: center;
	padding: 10px ;
	letter-spacing: 1px;
}

#img{
	display: none;
}

.dairyimg{
	border-bottom: 2%;
}



.mainnav {
	width: 100%;
	color: white;
	/*background-color: black;*/
	padding: 10px 20px;


}


h2{
	color: red;
}

.abc{
	display: flex;
	margin: 1%;
}

.pic{
	background-color: white;
	align-items: center;
}

.container{
	font-size: 17px;
	height: 100%;
}

a{
	text-decoration: none;
	padding: 10px 5px;
	font-weight: bold;
	font-size: 17px;
	/*color: white;*/
}

#about{
	border: 2px 2px black;
	background-color: white;
	font-size: 15px;
	letter-spacing: 2px;
	float: right;

}

a:hover{
	color: Black;
	text-decoration: none;
	font-weight: bold;

}

img{
	float: right;
	margin-right: 1%;
	/*margin: 5px;*/
}

.col-sm-2{
	background-color: white;
}
